
body {
  height: 100vh;
  position: relative;
}

.triangle {
  position:absolute;
  top: 50%;
  left: 50%;
  transition: all 5s;
  cursor: progress;

  &:hover {
    transform: rotate(1080deg);
  }
}

footer {
  background-color: white;
  color: black;
  font-size: x-small;
  position:absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}

.triangle-1 {
  position: absolute;
  top: 50%;
  left: 50%;
border-style: solid;
border-width: 0 50px 100px 0px;
border-color: transparent transparent red transparent;
}

.triangle-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-100px);
border-style: solid;
border-width: 0px 0 50px 100px;
border-color: transparent transparent transparent blue;

}

.triangle-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50px, -100px);
border-style: solid;
border-width: 100px 0px 0px 50px;
border-color: greenyellow transparent transparent transparent;
}

.triangle-4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0px, -50px);
border-style: solid;
border-width: 50px 100px 0px 0px;
border-color: transparent orange transparent transparent;
}