$color-a:white;
$color-b: black;

body {
    margin: 0;
}
.space {
    background-color: $color-b;
    height:100vh;
    position: relative;
}



.star { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: $color-a;
    height: 10px;
    width: 10px;
    border-radius: 50%;
        box-shadow: 0 0 20px 20px $color-a;
        transition: all 3s;

        &:hover {
            transform: scale(10);
        }
    }

    footer {
        background-color: white;
        color: black;
        font-size: x-small;
        position:absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%);
      }





