.box {
  height: 100px;
  width: 600px;
  margin: 200px auto;
}

.spin {
  display: flex;
  margin: 0 auto;
  transform: rotate(180deg);
  height: 100px;

  & div {
    display: inline-block;
    width: 5px;
    height: 100px;
    margin: 1px;
    background-color: gainsboro;
  }

  &:hover div {
    animation: spin-keyframe 5s infinite;

    @for $x from 1 through 100 {
      &:nth-child(#{$x}) {
        animation-delay: #{1-0.01*$x}s;
      }
    }
  }
}

@keyframes spin-keyframe {
  0% {
    background-color: gainsboro;
  }
  5% {
    background-color:magenta;
  }
  10% {
    background-color:orangered;
  }
  15% {
    background-color:orange;
  }
  20% {
    background-color:yellow;
  }
  25% {
    background-color:yellowgreen;
  }
  30% {
    background-color:greenyellow;
  }
  35% {
    background-color:green;
  }
  40% {
    background-color:aquamarine;
  }
  45% {
    background-color:aqua;
  }
  50% {
    background-color:blue;
  }
  55% {
    background-color:blueviolet;
  }
  60% {
    background-color:purple;
  }
  65% {
    background-color:gainsboro;
  }
}

footer {
  background-color: white;
  color: black;
  font-size: x-small;
  position:absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}