body {
  margin: 0;
}

#container {
  background-color: white;
  text-align: center;
  z-index: 0;
}

button {
  margin: 100px 0;
  height: 200px;
  width: 100px;
  background-color: white;
  border: 2px solid;
  font-size: x-large;
  font-weight: 600;
  cursor: pointer;
  position: relative;

  transform-style: preserve-3d;
  perspective: 300px;

  &::before {
    content: "";
    display: inline-block;
    background-color: black;
    height: 200px;
    width: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: transform 0.5s;
    transform: rotateY(0deg);
    transform-origin:left;
    transform-style: preserve-3d;
    perspective: 90px;
  }

  &:hover::before {
    transition: transform 3s;
    transform: rotateY(-120deg);
    transform-origin:left;
    transform-style: preserve-3d;
    perspective: 90px;
    
  }
&:active {
  border-color: red;
  background-color: red;
  overflow:hidden;
}
&:active::before {
  display: none;
}

  .label-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:active .label-1 {
    left: 150%;
  }
  .label-2 {
    display: none;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:active .label-2 {
    display: block;
  }
}

footer {
  background-color: white;
  color: black;
  font-size: x-small;
  position:absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}
